.env
logs/
reports/
allure-results/
allure-report/
.allure/
__pycache__/
*.py[cod]
*.so
.MANIFEST
*.egg-info
*.egg
dist/
build/
.pytest_cache/
.poetry/
.poetry-lock
.pydev/
.idea/
.vscode/
.venv/
*.log
*.db
.DS_Store
Thumbs.db
.agents/
.coverage
skills-lock.json
.playwright-mcp/
opencode.json
